[client-server]
socket = /run/mysqld/mysqld.sock

[mysqld]
user = root
datadir = /var/lib/mysql
port = 3306
log-bin = /var/lib/mysql/mysql-bin
socket = /run/mysqld/mysqld.sock
skip-bind-address = true
skip-networking = false
skip-external-locking = true
skip-name-resolve = true

[mysql]
user = root
port = 3306
socket = /run/mysqld/mysqld.sock
